<html>
<body>
Fill out the following forms to edit the following doctor's information. <br>
<form action="/edit-doctor" method="post">
    <input type="hidden" value={{id}} name="id"/>
    Name: <input type="text" value={{name}} name="docName"/><br>
    Specialty: <input type="text" value={{specialty}} name="docSpec"/><br>
    Location: <input type="text" value={{address}} name="docAddr"/><br>
    Average Cost: <input type="text" value={{cost}} name="docCost"/><br>
    <button type="submit">Submit Doctor</button>
</form>

</body>
</html>