<html>
<body>

{{^name}}
Please fill out the forms below to either create a new account or login.<br>
<form action="/login" method="post">
    <input type="text" placeholder="Enter name" name="loginName"/>
    <input type="password" placeholder="Password" name="password"/>
    <button type="submit">Login</button>
</form>
{{/name}}

{{#name}}
Hello {{name}}.<br> Welcome to the Doctor Tracker Web App.
If you would like to add a doctor please fill out the fields below and submit.<br>

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<form action="/create-doctor" method="post">
    <input type="text" placeholder="Doctor Name" name="docName"/>
    <input type="text" placeholder="Doctor Specialty" name="docSpec"/>
    <input type="text" placeholder="Doctor Location" name="docAddr"/>
    <input type="text" placeholder="Average Cost" name="docCost"/>
    <button type="submit">Submit Doctor</button>
</form>
{{/name}}

<table>
    <tr>
        <th>Doctor's Name</th>
        <th>Specialty</th>
        <th>Location/Address</th>
        <th>Average Cost</th>
        <th>Poster's Name</th>
        {{#name}}
        <th></th>
        <th></th>
        {{/name}}
    </tr>
    {{#doctors}}
    <tr>
        <td>{{name}}</td>
        <td>{{specialty}}</td>
        <td>{{address}}</td>
        <td>{{cost}}</td>
        <td>{{author}}</td>
        <td>
            {{#name}}
            <form action="/delete-doctor" method="post">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Delete</button>
            </form>
            {{/name}}
        </td>
        <td>
            {{#name}}
            <a href="/edit-doctor?id={{id}}">Edit</a>
            {{/name}}
        </td>
    </tr>
    {{/doctors}}
</table>

</body>
</html>